trigger:
- master

pool:
  vmImage: ubuntu-latest

steps:
- task: Bash@3
  displayName: "Install Azure Functions Tools"
  inputs:
    targetType: 'inline'
    script: |
      wget -q https://packages.microsoft.com/config/ubuntu/22.04/packages-microsoft-prod.deb
      sudo dpkg -i packages-microsoft-prod.deb
      sudo apt-get update
      sudo apt-get install azure-functions-core-tools-4 -y

- task: AzureCLI@2
  displayName: "Publish Function App to LEC"
  inputs:
    azureSubscription: 'leading-edge-computers'
    scriptType: 'bash'
    scriptLocation: 'inlineScript'
    inlineScript: |
      func azure functionapp publish funcleccipp --powershell --force

- task: AzureCLI@2
  displayName: "Publish Function App to TTA"
  inputs:
    azureSubscription: 'think-technology-australia'
    scriptType: 'bash'
    scriptLocation: 'inlineScript'
    inlineScript: |
      func azure functionapp publish functtacipp001 --powershell --force
